{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field %}
{% from 'bootstrap5/table.html' import render_table %}

{% from 'bootstrap5/utils.html' import render_icon %}


{% block content%}
<div class="mt-5">
    <h1 class="mt-3">
        {{ _('Record incoming samples') }}
    </h1>
    {% include("lab/select_allocation.html") %}
    {% if allocation is not none %}
    <h3 class="border-bottom">Requested samples</h3>
    <p>
        {{ _("The following participants at IPICYT have been asked to submit their samples on <strong>{date}</strong>.").format(date = (scheduled_date | format_date('full'))) }}
    </p>
    {% endif %}
</div>

{% if allocation is not none %}
<div class="mt-2">
    
    {{ render_field(form.searchfield, form_type='horizontal', horizontal_columns=('md', 0, 6)) }}
    {{
        render_table(
            samples,
            titles=titles,
            model=Sample,
            show_actions=True,
            actions_title=_('Toggle collection'),
            custom_actions=[
                (
                    'Toggle collection',
                    'clipboard-check',
                    ('lab.toggle_sample_page', [('id', ':id')])
                )
            ],
            responsive=True,
            table_classes="table-striped"
        )
    }}
</div>
{% endif %}

{#
<div class="mt-5">
    <h3> {{ _('Add unsolicited samples') }}</h3>
    <p>
        {{ render_icon("cone-striped", size="3em") }}
        {{ _('This feature is currently under construction.') }}
        {{ render_icon("cone-striped", size="3em") }}
    </p>
</div>
#}

{% endblock %}