th, td {
    /* border: 1px solid red; */
}
a {
    text-decoration: none;
}
/* 
table
{ 
    margin-left: auto;
    margin-right: auto;
} */

.token_icons {
    font-size: 1.1rem;
    min-width: 18rem;
    color: blue;
    border-style: none none dashed none;
}

.spare_tokens {
    color: grey;
}

.change_buttons {
    min-width: 105px;
}

@media (max-width: 575.98px) {
    #schedule-widget {
        width: 100%;
    }
    .token_icons {
        font-size: 0.75rem;
        min-width: 12.7rem;
    }
}

@media (max-width: 360px) {
    #schedule-widget {
        width: 100%;
    }
    .token_icons {
        font-size: 0.7rem;
        min-width: 11rem;
    }
}

@media (min-width: 768px) {
    td,th {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
      }
}