{% extends 'base.html' %}

{% block content %}
<div class="mt-3" style='text-align: center'>
    <h3>Welcome</h3>
    <p>{{ _('This is a demo of the web app accompanying our welfare-maximizing pooled testing framework.') }}</p>
    <div class="row justify-content-center">
        <div class="mt-3 p-3 border bg-light col-md-6 rounded">
            <p style='text-align: left'>{{ _('For demonstration purposes, you can use the following logins.') }} </p>
            <ul style='text-align: left'>
                <li>Admin account: 'admin@example.com' and 'password'</li>
                <li>Participant account: 'participant@example.com' and 'password'</li>
                <li>Laboratory account: 'lab@example.com' and 'password'</li>
            </ul>
        </div>
    </div>
    <!-- </br> -->
    <h4 class="mt-4 mb-2" style="color:grey">{{ _('A collaboration with') }}</h4>
    <img src={{ url_for('static', filename='intro5.png') }} class="img-fluid">
</div>
<div style='text-align: justify'>
    <p>
        {{ _('This project is an interdisciplinary and multi-institutional collaboration project, whose objective is to develop a systematic and automated protocol - based on the combination of knowledge of mechanism design, experimental causal inference and artificial intelligence - that allows Educational Institutions to use their facilities in a safe, efficient, and equitable manner.') }}
    </p>
</div>


</br>
<div style='text-align: center'>
    <p>
        {{ _('<strong>Collaborating departments at IPICYT</strong>') }}
    </p>
</div>
</br>
<img src={{ url_for('static', filename='departmentlogos2.png') }} / width="1100" height="900"/ class="img-fluid">
</br>
</br>
</br>
<center>
	<a href="{{ url_for('problema_page')}}" class="btn btn-primary">{{ _('About the project') }}</a>
</center>
{% endblock %}