{% extends 'security/base.html' %}
{% from 'bootstrap5/form.html' import render_field, render_form_row, render_hidden_errors %}

{% block security_form %}
    <h1>{{ _fsdomain('Sign In') }}</h1>
    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
    {{ login_user_form.hidden_tag() }}
    {{ render_hidden_errors(login_user_form) }}
    {{ render_form_row([login_user_form.email]) }}
    {{ render_form_row([login_user_form.password]) }}
    {{ render_form_row([login_user_form.remember]) }}
    {{ render_form_row([login_user_form.submit]) }}
    </form>

    <div class="mt-3 p-3 border bg-light rounded">
        <h4 style='text-align: left'>{{ _('Demonstration accounts') }} </h4>
        <ul style='text-align: left'>
            <li>Admin account: 'admin@example.com'</li>
            <li>Participant account: 'participant@example.com'</li>
            <li>Laboratory account: 'lab@example.com'</li>
        </ul>
        <p>The password is 'password' for all three accounts.</p>
    </div>
{% endblock %}