{% extends 'security/base.html' %}
{% from 'bootstrap5/form.html' import render_field, render_form_row, render_hidden_errors %}

{% block security_form %}
    <h1>{{ _fsdomain('Resend confirmation instructions') }}</h1>
    <form action="{{ url_for_security('send_confirmation') }}" method="POST" name="send_confirmation_form">
        {{ send_confirmation_form.hidden_tag() }}
        {{ render_hidden_errors(send_confirmation_form) }}
        {{ render_form_row([send_login_form]) }}
        {{ render_form_row([send_confirmation_form.email]) }}
        {{ render_form_row([send_confirmation_form.submit]) }}
    </form>
{% endblock %}