
{% from 'bootstrap5/nav.html' import render_nav_item %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand m-2" href="{{ url_for('index_page') }}">Demonstration | {{ _('Data manager') }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {{ render_nav_item('control.users_page', _('Users')) }}
          {{ render_nav_item('control.testing_page', _('Allocations')) }}
          {{ render_nav_item('control.communicate_page', _('Communication')) }}
          {{ render_nav_item('control.access_page', _('Access')) }}
          {{ render_nav_item('security.logout', _('Logout')) }}
        </div>
      </div>
    </div>
</nav>